html {
    box-sizing: border-box;
    font-size: 20px;
    background: teal;
    /* background: linear-gradient(90deg,  #42a5f5 0%,#478ed1 50%,#0d47a1 100%); */
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 50px;
    font-family: 'Inconsolata', monospace;
    /* color: white; */
   
  }
